# Halvor
Halvor <C3><98>verby <halvorov@stud.ntnu.no> Halvor <C3><98>verby <halvorov@stud.ntnu.no> 
# Daniel
Daniel Neukirch Hansen <danielnh@stud.ntnu.no> Daniel Neukirch Hansen <danielnh@stud.ntnu.no>
Daniel Neukirch Hansen <danielnh@stud.ntnu.no> Daniel N Hansen <danielnh@stud.ntnu.no>
#Bjorn
Bjorn Melaaen <bjorn.melaaen@gmail.com> Bjorn Melaaen <bjorn.melaaen@gmail.com>
Bjorn Melaaen <bjorn.melaaen@gmail.com> Bj<C3><B8>rn Eirik Melaaen <bjorneme@stud.ntnu.no>
#Jens
Jens Martin Norheim Berget <jmberget@stud.ntnu.no> Jens Martin Norheim Berget <jmberget@stud.ntnu.no>
Jens Martin Norheim Berget <jmberget@stud.ntnu.no> Jens Berget <jmberget@stud.ntnu.no>